- name: copy rabbitmq repo
  ansible.builtin.copy:
   src: rabbitmq.repo
   dest: /etc/yum.repos.d/rabbitmq.repo
- name: installing rabbitmq-server -y
  ansible.builtin.dnf:
    name: rabbitmq-server
    state: installed
- name: start and enable server
  ansible.builtin.service:
   name: rabbitmq-server
   state: started
   enabled: yes
- name: setup permissions
  community.rabbitmq.rabbitmq_user:
   user: roboshop
   password: roboshop123
  vhost: /
  configure_priv: .*
  read_priv: .*
  write_priv: .*
  state: present